<mat-card class="mat-elevation-z8">
  <mat-list>
    <div mat-subheader>Filters</div>

    <!-- Learning languages -->
    <mat-divider></mat-divider>
    <div mat-subheader>
      <mat-icon mat-list-icon>language</mat-icon>
      Learning
    </div>
    <mat-list-item *ngFor="let language of learning">
      <mat-checkbox>{{language.name | titlecase}}</mat-checkbox>
    </mat-list-item>

    <!-- Teaching languages -->
    <div mat-subheader>
      <mat-icon mat-list-icon>language</mat-icon>
      Teaching
    </div>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let language of teaching">
      <mat-checkbox>{{language.name | titlecase}}</mat-checkbox>
    </mat-list-item>

    <!-- Country select -->
    <mat-divider></mat-divider>
    <div mat-subheader>Country</div>
    <mat-form-field appearance="fill" color="accent">
      <mat-select placeholder="Select a country">
        <mat-option *ngFor="let country of countries" [value]="country">
          {{country | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Age slider -->
    <mat-divider></mat-divider>
    <div mat-subheader>Age</div>
    <div class="slider">
      18 <mat-slider min="18" max="90" thumbLabel></mat-slider> 90
    </div>
  </mat-list>
</mat-card>
