
.flex-container
  display: flex
  flex-flow: row wrap
  justify-content: space-evenly
  padding: 0
  margin: 0
  list-style: none

.flex-item
  padding: 10px
  margin-top: 20px

.app-filters
  margin-left: 10px
  margin-top: 10px

.hide-filters-btn
  position: absolute
  left: 220px
  z-index: 1

.show-filters-btn
  margin-left: 0
